RTOS_ws\FreeRTOS_Project
*.elf
/RTOS_ws/FreeRTOS_Project
*.index
/RTOS_ws/.metadata
/RTOS_ws/.metadata
/RTOS_ws/.metadata/.plugins
RTOS_ws/.metadata/.ide.log
RTOS_ws/.metadata/.log
RTOS_ws/.metadata/.plugins/org.eclipse.cdt.core/FreeRTOS_Project.1722186659134.pdom
RTOS_ws/.metadata/.plugins/org.eclipse.cdt.core/LED_exercise.1723323841055.pdom
RTOS_ws/.metadata/.plugins/org.eclipse.cdt.ui/FreeRTOS_Project.build.log
RTOS_ws/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/.projects/FreeRTOS_Project/.markers.snap
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/.projects/FreeRTOS_Project/.syncinfo.snap
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/.projects/LED_exercise/.markers.snap
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/.projects/LED_exercise/.syncinfo.snap
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
RTOS_ws/.metadata/.plugins/org.eclipse.core.resources/5.snap
RTOS_ws/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
RTOS_ws/common/ThirdParty/FreeRTOS/tasks.c
RTOS_ws/FreeRTOS_Project/Debug/Core/Src/subdir.mk
RTOS_ws/FreeRTOS_Project/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
RTOS_ws/FreeRTOS_Project/Debug/FreeRTOS_Project.elf
RTOS_ws/LED_exercise/.project
/RTOS_ws/Notes
